@model CollegeApp.Models.Note

@{
    ViewData["Title"] = "Delete";
}


<div>
    
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.noteTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.noteTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.noteDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.noteDesc)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-outline-dark" />
        
    </form>
</div>
